In [1]:
print("Welcome to Python!")

Welcome to Python!

In [2]:
num1 = 2
num2 = 4
result = num1 + num2
print(result)

6

In [3]:
fname = "Adam"
sname = " Grey"
fullname = fname + sname

print(fullname)

Adam Grey

In [4]:
o1 = True
o2 = False
r1 = (o1 and o2)
print(r1)

r2 = (o1 or o2)
print(r2)

r3 = not(o1)
print(r3)

False
True
False

In [5]:
n1 = 4
n2 = 2

n1 += n2
print(n1)
n1 = 4

n1 -= n2
print(n1)
n1 = 4

n1 *= n2
print(n1)
n1 = 4

n1 /= n2
print(n1)

6
2
8
2.0

In [6]:
n1 = 10
n2 = 5

print(n1 == n2)
print(n1 != n2)
print(n1 > n2)
print(n1 < n2)
print(n1 >= n2)
print(n1 <= n2)

False
True
True
False
True
False

In [18]:
age = 67

age2 = 55

if age2 >= age:
    print("You are eligible for priority treatment.")

print("Thank you for your visit\n")

age = 10

if age >= 65:
    print("You are eligible for priority treatment.")
elif age > 18 and age < 65:
    print("You are eligible for normal treatment")
elif age < 18:
    print("You are eligible for juvenile treatment")

print("Thank you for your visit\n")

age = 67
insurance = "yes"

if age >= 65:
    print("You are eligible for priority treatment.")
    if insurance == "yes":
        print("The insurance company will pay for you.")
    else:
        print("You have to pay in advance.")
else:
    print("You are eligible for normal treatment")

print("Thank you for your visit")

Thank you for your visit

You are eligible for juvenile treatment
Thank you for your visit

You are eligible for priority treatment.
The insurance company will pay for you.
Thank you for your visit

In [19]:
nums = [1, 2, 4, 5, 6, 7, 8, 9, 10]

for n in nums:
    print(5 * n)

5
10
20
25
30
35
40
45
50

In [20]:
x = 50

while x > 0:
    print(x)
    x = x - 5

50
45
40
35
30
25
20
15
10
5

In [23]:
def displayWelcome():
    print("Welcome to Python. This article explains the basics of Python for absolute beginners!")
    return;

displayWelcome()
print("Do something here")
displayWelcome()
print("Do some other stuff here\n")

def addNumbers(n1, n2):
    r = n1 + n2
    return r;

result = addNumbers(10, 20)
print(result)

result = addNumbers(40, 60)
print(result)

result = addNumbers(15, 25)
print(result)

Welcome to Python. This article explains the basics of Python for absolute beginners!
Do something here
Welcome to Python. This article explains the basics of Python for absolute beginners!
Do some other stuff here

30
100
40

In [29]:
randomlist = ['apple', 'banana', True, 10, 'Mango']

print(randomlist[0])
print(randomlist[4])

# Define the list
randomlist = ['apple', 'banana', True, '10', 'Mango']

# Print the current value at index 0
print(randomlist[0])

# Assign a new value at index 0
randomlist[0] = 'Peach'

# Print the updated value
print(randomlist[0])
randomlist = ['apple', 'banana', True, '10', 'Mango']

print(randomlist)

# Add a new element
randomlist.append(0)

print(randomlist)

randomlist = ['apple', 'banana', True, '10', 'Mango']

print(randomlist)

# Remove the second element
del randomlist[1]

print(randomlist)

apple
Mango
apple
Peach
['apple', 'banana', True, '10', 'Mango']
['apple', 'banana', True, '10', 'Mango', 0]
['apple', 'banana', True, '10', 'Mango']
['apple', True, '10', 'Mango']

In [34]:
randomtuple = ('apple', 'banana', True, '10', 'Mango')

print(randomtuple[1])
print(randomtuple[4])
print(randomtuple)

#del randomtuple

print(randomtuple)

banana
Mango
('apple', 'banana', True, '10', 'Mango')
('apple', 'banana', True, '10', 'Mango')

In [39]:
randomdict = {'Make': 'Honda', 'Model': 'Civic', 'Year': 2010, 'Color': 'Black'}

print(randomdict['Make'])
print(randomdict['Model'])
print(randomdict['Make'])
randomdict['Make'] = 'Audi'
print(randomdict['Make'])
# Displaying complete dictionary
print(randomdict)

# Deleting one element
del randomdict['Make']
print(randomdict)

# Clearing whole dictionary
randomdict.clear()
print(randomdict)

# Deleting dictionary itself
#del randomdict
#print(randomdict)

Honda
Civic
Honda
Audi
{'Make': 'Audi', 'Model': 'Civic', 'Year': 2010, 'Color': 'Black'}
{'Model': 'Civic', 'Year': 2010, 'Color': 'Black'}
{}

In [42]:
cars = []

add_inventory = input('Add inventory? [y/n] ')

while add_inventory == 'y':
    # Get car data from user
    make = input('Make: ')
    model = input('Model: ')
    year = input('Year: ')
    miles = input('Miles: ')

    # Create car dictionary object and save it to list
    car = {'Make': make, 'Model': model, 'Year': year, 'Miles': miles}
    cars.append(car)

    # Ask user if we should keep going
    add_inventory = input('Add inventory? [y/n] ')

print('')
print('Here are your cars:')

# Display all of our cars
for c in cars:
    print('Make: ' + c['Make'])
    print('Model: ' + c['Model'])
    print('Year: ' + c['Year'])
    print('Miles: ' + c['Miles'])
    print('')

Add inventory? [y/n]  y
Make:  Mercedes Benz
Model:  GLE43
Year:  2024
Miles:  500
Add inventory? [y/n]  y
Make:  Audi
Model:  Q8
Year:  2024
Miles:  1000
Add inventory? [y/n]  n

Here are your cars:
Make: Mercedes Benz
Model: GLE43
Year: 2024
Miles: 500

Make: Audi
Model: Q8
Year: 2024
Miles: 1000